<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;900&family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/homeStyles.css">
  <meta charset="utf-8">
  <title>Bidit</title>

  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand ml-3" href="/">bidit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav ml-auto">
            <% if(isAuthenticated) { %>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Kontaktai</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/logout">Atsijungti</a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Mano profilis </a>
              <div class="dropdown-menu">
                <a href="/users/my-list" class="dropdown-item">Mėgstamiausi</a>
                <a href="/products/add/add-product" class="dropdown-item">Pridėti produktą</a>
                <a href="/users/my-items" class="dropdown-item">Mano produktai</a>
                <a href="/users/edit" class="dropdown-item">Redaguoti profilį</a>
                <a href="/users/winList" class="dropdown-item">Laimėjimai</a>
              </div>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Kontaktai</a>
            </li>
            <li class="nav-item">
              <a href="/users/login" class="btn btn-dark btn-lg btn-login">Prisijungti!</a>
            </li>
            <%  } %>
          </ul>
        </div>
    </nav>
  </div>


  <section id="title">
    <div class="row">
      <div class="col-12">
        <h1>Siūlyk! Laikas tiksi!</h1>
      </div>
    </div>
  </section>

  <section id="items" style="word-wrap: break-word;">
    <div class="container-fluid">
      <div class="container">
        <%- include ("./partials/messages") -%>
        <div id="getting-started"></div>
        <div class="mb-3">
          <div class="card mt-3">
            <div class="card-header text-center bg-dark text-light">
              <h3>Likęs laikas</h3>
            </div>
              <table class="table table-striped mb-0">
                <tr class="p-0">
                  <td class="p-0">Dienos</td>
                  <td class="p-0">Valandos</td>
                  <td class="p-0">Minutės</td>
                  <td class="p-0">Sekundės</td>
                </tr>
                <tr class="p-0">
                  <td id="day" class="display-4 bg-dark text-white p-0"></td>
                  <td id="hours" class="display-4 bg-dark text-white  p-0"></td>
                  <td id="minutes" class="display-4 bg-dark text-white  p-0"></td>
                  <td id="seconds" class="display-4 bg-dark text-white  p-0"></td>
                </tr>
              </table>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text btn-dark" for="inputGroupSelect01">Miestas</label>
              </div>
              <select class="custom-select" id="citySelect" onChange="location = this.value;">
                <option value="/">Visi</option>
                <% for(let i=0; i<cities.length; i++) { %>
                <option value='/?city=<%=cities[i].city%>'> <%= cities[i].city %> </option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text btn-dark " for="inputGroupSelect02">Būklė</label>
              </div>
              <select class="custom-select" id="conditionSelect" onChange="location = this.value;">
                <option value='/'>Visi</option>
                <% for(let i=0; i<conditions.length; i++) { %>
                <option value='/?condition=<%=conditions[i].name%>'> <%= conditions[i].name %> </option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text btn-dark " for="inputGroupSelect02">Kategorija</label>
              </div>
              <select class="custom-select" id="typeSelect" onChange="location = this.value;">
                <option value='/'>Visos</option>
                <% for(let i=0; i<categories.length; i++) { %>
                <option value='/?category=<%=categories[i].name%>'> <%= categories[i].name %> </option>
                <% } %>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <h2>Aktyvūs aukciono produktai</h2>
        <div class="row">
          <% for (let i=0; i<products.length; i++) { %>
          <div class="col-lg-4 col-md-6 col-sm-12 product-grid">
            <div class="image">
              <a href="/products/<%=products[i]._id %>">
                <img src="../<%=products[i].image[0] %>" class="w-100">
                <div class="overlay">
                  <div class="detail">
                    View details
                  </div>
                </div>
              </a>
            </div>
            <h4 class="text-center"><%=products[i].name %></h4>
            <h5><%=products[i].price %> €</h5>
            <p> <%=products[i].city %> </p>
            <a href="/products/<%=products[i]._id %>" class="btn btn-lg btn-block btn-outline-dark">Atidaryti</a>
             <% if(user.isAdmin) { %>
              <form class="" action="/delete/<%=products[i]._id %>" method="POST">
                <button class="btn btn-lg btn-block btn-outline-danger" type="submit" name="removeButton">Ištrinti</button>
              </form>
            <% }; %>
          </div>
          <%  }; %>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>


  <%- include ("./partials/footer") -%>
</body>

</html>
