<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;900&family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/homeStyles.css">
  <link rel="stylesheet" href="/css/pages.css">
  <meta charset="utf-8">
  <title>Bidit</title>

</head>

<body>
  <%- include ("./partials/header") -%>

  <div class="container">
    <p><%- include ("./partials/messages") -%> </p>
    <h1>Redaguoti profilį</h1>
    <form class="mt-3" action="users/edit/:id" method="post">
      <div class="form-group row">
        <label for="userInputEmail" class="col-sm-2 col-form-label">Jūsų el. paštas</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="userEmail" name="userEmail" value="<%=user.email%>">
        </div>
      </div>
      <div class="form-group row">
        <label for="userInputEmail" class="col-sm-2 col-form-label">Jūsų adresas</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="userEmail" name="userEmail" value="<%=user.adress%>">
        </div>
      </div>
      <div class="form-group row">
        <label for="userInputEmail" class="col-sm-2 col-form-label">Jūsų pašto kodas</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="userEmail" name="userEmail" value="<%=user.zipcode%>">
        </div>
      </div>
      <div class="form-group row">
        <button class="btn btn-outline-warning btn-block" type="submit">Išsaugoti</button>
        <a href="/users/edit/pswChange" class="btn btn-outline-warning btn-block">Keisti slaptažodį</a>
      </div>
    </form>
  </div>


  <%- include ("./partials/footer") -%>


</body>
