<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Bidit</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;900&family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="/../css/registerStyles.css">
</head>

<body class="registerBody">
  <div class="container">
    <p><%- include ("./partials/messages") -%> </p>
    <form action="/users/register" method="POST">
      <div class="text-center">
        <a class="systemName" href="/">bidit</a>
      </div>
        <div class="form-group">
          <label for="email">El. Paštas</label>
          <input class="form-control" type="email" placeholder="Įveskite savo el. paštą" name="email" value="<%= typeof email != 'undefined' ? email: '' %>" required>
        </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="password">Slaptažodis</label>
            <input class="form-control" type="password" name="password" placeholder="Įveskite slaptažodį" value="<%= typeof password != 'undefined' ? password: '' %>" required>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="confirmPassword">Patvirtinkite slaptažodį</label>
            <input class="form-control" type="password" name="passwordConfirmitation" placeholder="Dar kartą įveskite slaptažodį" value="<%= typeof passwordConfirmitation != 'undefined' ? passwordConfirmitation: '' %>" required>
            <small class="form-text">Niekam neatskleiskite savo slaptažodžio!</small>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="adress">Adresas</label>
            <input class="form-control" type="text" name="adress" placeholder="Įveskite adresą" value="<%= typeof adress != 'undefined' ? adress: '' %>">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="zipcode">Pašto kodas</label>
            <input class="form-control" type="text" name="zipcode" placeholder="Įveskite pašto kodą" value="<%= typeof zipcode != 'undefined' ? zipcode: '' %>">
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mt-3 btn-block" type="submit" >Registruotis!</button>
      </div>
    </form>
  </div>


</body>

</html>
